.navbar{
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-around;
  height: 2.5rem;
  align-items: center;
  background-color: #ebebe0;
}

.links{
  /* border: 2px solid black; */
  width: 30rem;
  display: flex;
  justify-content: space-around;
}

.navLinks{
  text-decoration: none;
  color: black;
}

.heading{
  margin-left: 20px;
}
.cardWrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card{
  border: 2px solid black;
  width: 300px;
  height: 300px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card-cart{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
}

.quantity{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  width: 70px;
  height: 23px;
}
.count{
  display: flex;
  align-items: center;
}

.select-box{
  width: 85px;
}

.quantity button{
  border: none;
}

.content p {
  font-size: 12px;
  margin-top: -10px;
  
}

.cart-bottom{
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 30px;
  width: 70%;
  left: 130px;
}
.total-price{
  display: flex;
  flex-direction: column;
}

.total-price button{
  margin-top: 15px;
}

.continue{
  border: 1px solid black;
  height: 30px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.continue-link{
  text-decoration: none;
  color: black;
  /* height: 30px; */
}

.payment{
  border: 1px solid black;
  width: 150px;
  height: 30px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.payment-button{
  text-decoration: none;
  color: black;
}