body{
  background-image: url('./image/image.jpg' );
  background-position: 100%;
  /* z-index: 0; */
}
.app{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box{
  background-color: black;
  color: white;
  /* z-index: 1; */
  width: 35vw;
  height: 25vh;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  flex-direction: column;
}

p{
  font-size: 20px;
}
button{
  width: 11vw;
  height: 4vh;
  border: 2px solid black;
  border-radius: 5px;
  
}